# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/nbproject/private/
/unt_cz/nbproject/private/
/unt_cz_nette/nbproject/private/
unt_cz_nette/temp/cache/latte/app-FrontModule-templates-Homepage-default-latte-Templatebacc106240fcfcda3cf2babad4c18323.php
unt_cz_nette/temp/cache/latte/app-FrontModule-templates-Homepage-default-latte-Templatebacc106240fcfcda3cf2babad4c18323.php.lock
unt_cz_nette/temp/cache/latte/templates-templates-footer-navigation-latte-Template686a79a94be5e6eb6ffbe65d846c53fb.php.lock